form(action='/#{host}/create', method="post")
  p: label New database name: 
    input(name='name')

  p: label Default collation: 
    select(name='collation')
      option
      - each charset in charsets
        optgroup(label=charset[0].CHARACTER_SET_NAME, title=charset[0].DESCRIPTION)

        - each collation in charset
          option(value=collation.COLLATION_NAME)= collation.COLLATION_NAME

  p: button Create
