- scripts.push('/js/processlist.js')

:stylus
  td:last-child
    width 100%

div
  label Interval: 
    input#interval(value=2)

div
  label
    input#fullprocesslist(type='checkbox')
    |  Full processlist

#status
#results.grid12
