p
  a(href="/") #{host}

form#query(action:'/query', method:'post')
  div
    label Database: 
      select(name:'database')
        - databases.forEach(function(db){
           - if (db === database)
              option(value:db,selected)= db
           - else
              option(value:db)= db
        - })
      | 
      a(id:'tableList',href:'/'+ database) Browse tables

  div
    textarea(name:'query')
    ul#savedQueries
      li Empty query
    input(name:'parameters')
  div
    button.submit(type:'submit') Submit
    button.save(type:'button') Save Query
  #results

script(src:'/js/query.js')
