@import reset
@import grid

body
  margin 0
  padding 0
  font-family sans-serif
  font-size 10pt
  background #e6ebea

h1
  a
    font-size 24pt
    line-height: 48pt
    color #000
  a:hover
    text-decoration none

#breadcrumb
  margin-bottom .5em

.menu
  padding 0
  margin 0 0 .5em

  li:first-child
    padding-left 0

  li
    display inline
    padding .5em

table
  border 1px solid #c6cbca
  border-collapse collapse

  tr:nth-child(even)
    background #d6dbda

  tr:hover
    background #f7f7f7

  td, th
    padding .2em
    border-left 1px solid #c6cbca

  th
    background #c6cbca

li
  padding 1pt 0

th.pri
  text-decoration underline

.pri
  font-weight bold

.uni
  font-style italic

#query
  textarea
    height 320pt
    border 1px solid #c6cbca
    padding .2em

#results
  margin-top 1em
  overflow auto

  tr
    max-height 5em

  .null
    color #888

#tables
  -moz-column-count 2
  -moz-column-gap 20pt
  -webkit-column-count 2
  -webkit-column-gap 20pt
  column-count 2
  column-gap 20pt

#fields
  td.null
    text-align center
